@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior:smooth ;
  word-wrap:  normal;
  
  @media screen and (max-width: 720px){
    font-size: 87.5%; /* 14px */
  }

  @media screen and (max-width: 1080px){
    font-size: 93.75%; /* 15px */
  }
}

.textPoppinsTitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 24px;
  color: #476EE6;
  line-height: 36px;
  letter-spacing: 0.03em;
}

.textPoppinsTitle600 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  color: #476EE6;
  line-height: 36px;
  letter-spacing: 0.03em;
}

.textPoppinsTerms {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 14px;
  color: #476EE6;
  line-height: 36px;
  letter-spacing: 0.03em;
}

.textPoppinsOptions {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #476EE6;
  line-height: 36px;
  letter-spacing: 0.03em;
}

.textPoppinsWeight600 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 14px;
  color: #000000;
  line-height: 20px;
}

.textPoppinsSubtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #000000;
}

.textPoppinsPlaceholder {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #A0A0A0;
}

.textPoppinsCheckBox {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 13px;
  color: #000000;
}

.textPoppinsButtonRegister {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
}

.textPoppinsTitleCardFolder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 18px;
  color: #101828;
}

.textPoppinsSubtitleCardFolder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  color: #787486;
}

.textPoppinsDocsCardFolder {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #787486;
}

.textPoppinsDocsQtdFiles {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 18px;
  color: #476EE6;
}

.textConfortaa {
  font-family: 'Comfortaa', cursive;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  color: #000000;
}

.textPoppinsRed {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 27px;
  color: #EA0000;
}

.textPoppinsTextFile {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 26px;
  color: #000000;
}

.textPoppinsTextFileDocs {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #6A6A6A; 
}

.textPoppins400 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.textPoppins600 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}
